@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quantico&display=swap');

html {
    --azure-blue: #F0FFFF;
    --light-blue: #77a3f6;
    --cornflower-blue: #6495ED;
    --cobalt-blue: #0047AB;
    --dark-blue: #00008B;
    --midnight-blue: #191970;
}

body {
    font-family: "Quantico", sans-serif;
    background-color: var(--azure-blue);
    color: var(--dark-blue);
    text-align: center;
}

main {
    padding: 0 4rem;
    margin: 5rem 0;
}

h1 {
    font-family: "Bubblegum Sans", sans-serif;
}

#popcorn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50rem;
    margin: 0 auto;
    text-align: justify;
}

#popcorn-container img {
    width: 10rem;
    height: 10rem;
}

#popcorn-container p {
    padding-left: 2rem;
}

header>p {
    text-align: justify;
    max-width: 50rem;
    margin: 0 auto;
}

p a {
    text-decoration: none;
    color: var(--cornflower-blue);
}

#awa {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#awa img {
    width: 3rem;
    height: 3rem;
}

#awa p, #popcorn-container p {
    margin: auto 0;
}

#carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.carousel {
    width: 75%;
}

@media (max-width: 768px) {
    main {
        /* 15rem footer, 6rem margin top-bottom (12rem) */
        min-height: calc(100vh - 27rem);
    }
}