@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quantico&display=swap');

html {
    --azure-blue: #F0FFFF;
    --light-blue: #77a3f6;
    --cornflower-blue: #6495ED;
    --cobalt-blue: #0047AB;
    --dark-blue: #00008B;
    --midnight-blue: #191970;
}

body {
    font-family: "Quantico", sans-serif;
    background-color: var(--azure-blue);
    color: var(--dark-blue);
    text-align: center;
    /* margin-top: 6rem; */
}

main {
    padding: 0 4rem;
    margin: 6rem 0;
}

h1 {
    font-family: "Bubblegum Sans", sans-serif;
}

#carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.carousel {
    width: 75%;
}

@media (max-width: 768px) {
    main {
        /* 15rem footer, 12rem margin top-bottom (6+6) */
        min-height: calc(100vh - 27rem);
    }
}