#movie-cards, #serie-cards {
    margin: 0 auto;
    max-width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 2rem;
}

.card-item {
    background-color: var(--azure-darker);
    color: var(--dark-blue);
    max-width: var(--img-card-width);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 1s;
}

.card-item a {
    color: inherit
}

.card-img {
    height: var(--img-card-height);
    width: var(--img-card-width);
    margin-bottom: 0.25rem;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 12px var(--midnight-blue);
}

@media (max-width: 768px) {
    #movie-cards, #serie-cards {
        display: flex;
        flex-direction: column;
        row-gap: 0;
    }

    .card-item {
        margin: 1rem auto;
    }
}